

img{
    width:90%;
    align-self : center;
}

span{
    margin-right:10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li>ul>li {
    list-style: none;
    padding-left: 15px;
}

li:hover{
    background-color:lightgray;
    border:solid;
    border-color:black;
}

.navBar{
    border : solid;
    border-color : grey;
    height:100vh;
}

a:hover{
    color:black;
}

a {
    color: black;
}

a:hover{
    text-decoration:none;
}

.content{
    width : 100%;
    height:100%;
}

body{
    overflow:hidden;
}

